{% from "helpers.jinja" import safe_docstring %}
{%- set mods = ["exceptions", "extensions", "gates", "ionq_client", "pagination", "polling", "session"] %}
{{ safe_docstring(package_description) }}
from . import {{ mods | join(", ") }}
from .client import AuthenticatedClient, Client
{% for m in mods -%}
from .{{ m }} import *  # noqa: F403
{% endfor -%}
from .types import UNSET, Unset

__all__ = sorted(
    {{"{"}} {{ mods | map("tojson") | join(", ") }}, "AuthenticatedClient", "Client", "UNSET", "Unset" {{"}"}}
    | {n for m in ({{ mods | join(", ") }}) for n in m.__all__}
)
